.btn{
    color: blue;
    font-family: times new roman;
}
.aaa{
    color: rgb(255, 196, 0);
    font-size: x-large;
    font-weight: 300;
    font-family:times new roman ;
}
.bbb{
    color: yellow;
    font-family: lucida sans;
    background-color: aqua;
    font-size: large;
}